/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#containter {
    text-align: center;
  }
  
  h1 {
    /* color: #55acee;
    font-family: cursive;
    font-weight: bold;
    font-size: 72px;
    margin-top: 50px; */
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.center-content {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

button.start-button {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

ul, ol {
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
  text-align: left;
}

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
  text-align: left;
}

.large-textbox {
    margin-top: 50px;
    font-family: cursive;
    border: 1px solid #acacac;
    color: #fff;
    opacity: .7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-size: 16px;
    outline: none;
    background-color: #acacac;
}

.large-textbox:focus {
    width: 500px;
    outline: none;
}

.resized-image {
    max-width: 100%;
    height: 200px;
}
/* .large-textbox {
    width: 400px;
    height: 100px;
} */

input[name="commit"] {
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }
  .balloon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
  
  .balloon1 p {
    margin: 0;
    padding: 0;
  }