<body>
    <div class="center-content">
        <%= image_tag 'imarin.jpg' , class: "resized-image"%>
        <div class="balloon">お疲れ様でした</div>
        <table>
            <tbody>
                <% @question_hash.each do |key, value| %>
                    <tr>
                        <th><%= key %></th>
                    </tr>
                    <tr>
                        <td><%= value %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <button class="deco-button"><%= link_to '戻る', '/' %></button>
    </div>
</body>
