<body>
    <div class="center-content">
        <%= image_tag 'imarin.jpg' , class: "resized-image"%>
        <p>お疲れ様でした</p>
        <% @question_hash.each do |key, value| %>
            <p><strong><%= key %>:</strong> <%= value %></p>
        <% end %>
    </div>
</body>
