<body>
    <div class="center-content">
    <%# <div> %>
        <h1>模擬面接サイト</h1>
        <ul>
            <li>5項目のランダムに質問があるので答えましょう。
            <li>記載した回答は最後閲覧できるのでメモしてもいいかもです。
        </ul>
        <button class="start-button"><%= link_to '開始', '/interview/interview_introduction' %></button>
    </div>
</body>
