<body>
    <div class="center-content">
        <%= image_tag 'imarin.jpg' , class: "resized-image"%>
        <button><%= link_to '面接を開始します', '/interview/interview_introduction' %></button>
    </div>
</body>
