<body>
    <div class="center-content">
        <%= image_tag 'imarin.jpg' , class: "resized-image"%>
        <p><%= @question %></p>
        <button><%= link_to '次へ', '/interview/interview_work' %></button>
    </div>
</body>
